@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@font-face {
    font-family: "Space Grotesk";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
}

@font-face {
    font-family: hanson;
    src: url("../fonts/hanson.otf");
}

:root {
    --white: #ffffff;
    --black: #000000;
    --black-1: #1e1e1e;
    --gray: #d9d9d9;
    --lightgray: #e9e9e9;
    --yellow: #FDFF00;
    --red: #b32f23;
    --cyan: #336e76;
    --lightcyan: #3cacc4;
    --darkcyan: #1d3a44;
    --transition-3: 0.3s;
    --transition-5: 0.5s;
    --transition-8: 0.8s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    /* display: none; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;
    color: var(--white);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
}
img {
    max-width: 100%;
}
/* custom classes start */
.fs-7 {
    font-size: 75px !important;
}

.f-hanson {
    font-family: hanson;
}

.vh-50 {
    height: 50vh;
}

.vh-75 {
    height: 75vh;
}

.phrase-1 {
    font-size: 4em;
    font-weight: bold;
}

.phrase-2 {
    font-size: 1.3em;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

/* colors */
.bg-gray {
    background-color: var(--gray);
}

.text-black {
    color: var(--black-1);
}

.text-yellow {
    color: var(--yellow);
}

.text-uppercase {
    text-transform: uppercase;
}

section {
    min-height: 100vh;
    padding: 100px 0!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-half {
    padding: 0px 0 100px;
    /* min-height: 50vh!important; */
}

.section-title {
    padding-bottom: 7px;
    position: relative;
    /* overflow: hidden; */
}

.swiper {
    width: 600px;
    height: 300px;
  }

.section-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 1px;
    background-color: #fff;
}

.title {
    font-size: 64px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.section-title .subtitle {
    font-size: 50px;
    line-height: 55px;
    font-weight: lighter;
}

.content {
    max-width: 1170px;
    display: block;
}

.content-right {
    margin-left: auto;
}
.content p {
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 40px;
    font-weight: 300;
}

/* custom classes end */

header {
    transition: var(--transition-3);
    position: sticky;
    top: 0px;
    z-index: 100;
    padding: 20px 60px;
}

header .menu-button {
    cursor: pointer;
    border-radius: 50px;
    padding: 8px 20px;
    border: 2px solid var(--white);
    position: absolute;
    top: 40px;
    right: 60px;
}
header .menu-button.active {
    background: rgba(0, 0, 0, 0.145);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header .menu-button div {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header .menu-button span {
    background-color: var(--white);
    display: inline-block;
    height: 2px;
    width: 20px;
    border-radius: 20px;
}

header nav {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 112px 60px 70px ;
}

header nav a {
    color: white;
    text-decoration: none;
    /* padding: 8px; */
    font-size: 30px;
    line-height: 30px;
}

header nav ul li:not(:last-child) {
    margin-bottom: 48px;
}

header nav .cta-button {
    margin-top: 40px;
    border-top: 1px solid #fff;
    padding-top: 20px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Hanson', Arial, Helvetica, sans-serif;
}

header nav hr {
    background-color: var(--black-1);
    width: 90%;
    height: 1.2px;
    opacity: 1;
}

header nav .close,
.arrow,
.work-video .close,
.work-video .vid-status {
    display: inline-block;
    color: var(--lightgray);
    display: flex;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 40px;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: var(--transition-3);
}

header nav .close,
.work-video .close {
    background-color: var(--black-1);
    right: 60px;
    top: 30px;
}

.paused {
    opacity: 1 !important;
}

.playing {
    animation: opacity var(--transition-5);
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.work-video .close,
.work-video .vid-status {
    background: rgba(255, 255, 255, 0.145);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.2px solid var(--gray);
    z-index: 201;
}

.work-video .vid-status {
    width: unset;
    border-radius: 10px;
    padding: 10px 20px;
    top: 35vh;
    left: calc(50% - 85px);
    opacity: 0;
    border: 0.2px dotted var(--gray);
    z-index: 202;
    animation: filter 2s infinite ease-in-out;
}

@keyframes filter {
    0% {
        background: rgba(255, 255, 255, 0.145);
    }
    50% {
        background: rgba(1, 19, 7, 0.263);
    }
    100% {
        background: rgba(255, 255, 255, 0.145);
    }
}

header nav .arrow {
    background-color: transparent;
    color: var(--black-1);
    right: 50px;
    transform: unset;
}

.arrow {
    background-color: var(--black-1);
}

.stroke {
    -webkit-text-stroke-color: var(--lightcyan);
    -webkit-text-stroke-width: 0.15px;
    /* opacity: 0.4 !important; */
    color: transparent;
}

.stroke-1 {
    -webkit-text-stroke-width: 1px;
}

.stroke-yellow {
    -webkit-text-stroke-color: var(--yellow);
}

.stroke-white {
    -webkit-text-stroke-color: var(--white);
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper {
    overflow-x: auto;
    display: flex;
    background-color: var(--black-1);
    transition: var(--transition-3);
}

.wrapper .video-project {
    min-width: 700px;
    min-height: 500px;
    margin: 50px 4rem;
    background-color: var(--black);
    border-radius: 30px;
    transition: var(--transition-3);
}

.video-project:hover {
    cursor: pointer;
}

.video-project:hover .arrow {
    background-color: var(--gray);
    color: var(--black-1);
}
.video-project {
    position: relative;
    padding: 100px;
    overflow: hidden;
}

.wrap {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(7vw);
    }
    100% {
        transform: translateX(-7vw);
    }
}

#bgvid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
}

.video-project .video-project-content {
    width: 100%;
    height: 100%;
}

.video-project .part {
    position: absolute;
}

.video-project .top-right {
    top: 30px;
    right: 30px;
}

.video-project .bottom-right {
    bottom: 30px;
    right: 30px;
}

.video-project .bottom-left {
    bottom: 20px;
    left: 30px;
}

.c2-bg,
.c2-bg-absolute {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.c2-bg-absolute {
    position: sticky;
    top: 0;
    z-index: -10;
}

.video-bg {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.video-bg video {
    display: inline-block;
    width: inherit;
    transform: scale(1.3);
}

.bg-linear {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bg-linear video {
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: -10;
}

.scrollx {
    overflow-x: hidden;
}

.scrollx-container {
    /* overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    position: sticky;
    top: 0; */
    display: flex;
    position: sticky;
    top: 0;
}

.five-col .col {
    min-width: 340px;
    margin: 0 30px;
}

.feat-work {
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
}

/* .feat-videos {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
} */

.feat-videos .slider-shadow {
    position: absolute;
    bottom: 60px;
    right: -10px;
    width: 50px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
    filter: blur(10px);
}

.slider-shadow.left {
    left: -10px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
}

.feat-videos::-webkit-scrollbar {
    background-color: rgb(81, 81, 81);
    height: 2px;
}

.feat-videos::-webkit-scrollbar-thumb {
    background-color: var(--white);
}

.feat-work h2 {
    text-transform: uppercase;
}

.feat-work .video-bg {
    width: 100% !important;
    height: auto;
}

.work {
    transition: var(--transition-5);
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
    width: 600px !important;
}

/* .work:first-child {
    margin-left: 120px;
} */

.work:last-child {
    margin-right: 120px;
}

.work a {
    color: var(--white);
}

.work video {
    /* border:2px solid rgb(255, 255, 255); */
}

.feat-title {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cursor-container {
    background-color: var(--lightgray);
    height: 0.1px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.cursor-container span {
    display: inline-block;
    background-color: var(--white);
    width: 200px;
    height: 5px;
    margin-left: -10px;
}

.one-by-one {
    transform: translateY(-35vh);
    font-family: hanson;
}

.one-by-one div {
    position: absolute;
    left: -20px;
    top: 60%;
    width: 100vw;
    transform: var(--transition-3);
    text-transform: uppercase;
    font-weight: bold;
    transform: perspective(100px) translate3D(0, -38px, 68px);
}

.one-by-one div .words .word {
    font-size: 15px !important;
}

.one-by-one .centered:nth-last-child(2) .word:first-child {
    color: var(--yellow);
}

.one-by-one div p {
    text-align: center;
}

.one-by-one div:first {
    opacity: 1;
}

.work-video video {
    /* max-width: 100%; */
    height: auto;
    width: 100vw;
    position: absolute;
    /* bottom: 0; */
}

.work-video-container video {
    display: inline-block;
}

.work-video {
    position: fixed;
    z-index: 200;
    top: 0;
    left: -110%;
    height: 100vh;
    width: 100%;
    transition: var(--transition-5);
}

.work-video.active {
    left: 0;
}

.feat-footer.active {
    opacity: 0;
    transition: 3s;
}

.feat-footer {
    width: inherit;
    background: rgba(48, 48, 48, 0.73);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

#cursor-info {
    display: inline-block;
    width: 80px;
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    background: rgba(210, 210, 210, 0);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 0 2px var(--gray);
    position: absolute;
    z-index: 203;
    left: -100px;
    border-radius: 150px;
}

#feat-people img {
    width: 340px;
    height: 450px;
    object-fit: cover;
}

#feat-people .team-title {

}

#feat-people .team-designation {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.partners ul {
    margin-top: 72px;
    margin-bottom: 112px;
}
.partners ul li button {
    font-size: 36px;
    line-height: 43px;
    opacity: 0.5;
    color: #fff;
}
.partners ul li button.active,
.partners ul li button:hover {
    opacity: 1;
    color: #fff;
}
.list-inline-item:not(:last-child) {
    margin-right: 40px;
}
.partner {
    margin-top: 5%;
    max-width: 1020px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 35px;
    row-gap: 60px;
}
.partner img {
    max-width: 250px;
    opacity: 1;
}
.partner img,
.alliance img {
    filter: grayscale(1);
}

.alliance {
    margin-top: 5%;
    max-width: 1770px;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center; */
    column-gap: 30px;
    row-gap: 40px;
}
.alliance img {
    max-width: 270px;
    opacity: 1;
}

.arrow-upright {
    display: inline-block;
    vertical-align: middle;
    margin-left: 45px;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background-color: #ccc;
    position: relative;
    border: 1px solid #ccc;
}

.arrow-upright:hover {
    cursor: pointer;
}

.arrow-upright::before {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 34px;
    height: 34px;
    position: absolute;
    background: url(../images/arrow-upright-white.svg) center/contain no-repeat;
}
.arrow-upright--black {
    background-color: #000;
    border: 1px solid #000;
}
.arrow-upright--black-outline {
    background-color: transparent;
    border: 1px solid #000000;
}
.arrow-upright--black-outline::before {
    background: url(../images/arrow-upright-black.svg) center/contain no-repeat;
}

.arrow-upright--sm {
    width: 80px;
    height: 80px
}
footer {
  padding-bottom: 70px;  
}

.footer-bottom {
    border-top: 1px solid #E5E3E3;
    margin-top: 65px;
    padding-top: 80px;
}

#people-info {
    padding: 100px 0;
    position: relative;
    display: none;
    overflow: hidden;
}

#people-info .info {
    display: none;
}
#people-info .info.active {
    display: block;
}
.partner-reveal,
.alliance-reveal {
    position: relative;
}
/* .partner-reveal .reveal-block, */
.alliance-reveal .reveal-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transform-origin: top center;
    /* transform: scaleY(1); */
}
.swiper-scrollbar {
    background: #fff!important;
    border-radius: 0!important;
    height: 1px!important;
    bottom: calc(50% - 300px)!important;
}
.swiper-scrollbar-drag {
    background: #fff!important;
    border-radius: 0!important;
    height: 15px!important;
    cursor: move;
}
footer.social {
    border-top: 1px solid #fff;
    padding-top: 30px;
}
footer.social h6 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
}
footer.social a {
    color: #fff;
    font-size: 32px;
}
.case-studies {
    gap: 30px;
    position: relative;
    max-height: 680px;
}
.case-studies__card {
    width: 570px;
    border-radius: 30px;
    background-color: #d9d9d9;
    padding: 53px 45px;
    position: absolute;
    left: calc(50% - 20px);
    transform: translateX(-200px);
    z-index: 1;
}
.case-studies__card:nth-child(2) {
    left: 50%;
    background-color: #434343;
    z-index: 0;
}
.case-studies__card:nth-child(3) {
    left: calc(50% + 20px);
    background-color: #8D8D8D;
    z-index: -1;
}
.case-studies__card:nth-child(4) {
    left: calc(50% + 40px);
    background-color: #ADADAD;
    z-index: -2;
}
.case-studies__header {
    color: #000;
}
.case-studies__title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.case-studies__category {
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
}
.case-studies__read {
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}
.case-studies__read::after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left:8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #8d8d8d;
}
.swiper-slide:hover {
    cursor: move;
}
#dashboard {
    position: relative;
}
#dashboard .section-title {
    position: absolute;
    top: 0;
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}