@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@font-face {
    font-family: "Space Grotesk";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
}

@font-face {
    font-family: hanson;
    src: url("../fonts/hanson.otf");
}

:root {
    --white: #ffffff;
    --black: #000000;
    --black-1: #1e1e1e;
    --gray: #d9d9d9;
    --lightgray: #e9e9e9;
    --yellow: #FDFF00;
    --red: #b32f23;
    --cyan: #336e76;
    --lightcyan: #3cacc4;
    --darkcyan: #1d3a44;
    --transition-3: 0.3s;
    --transition-5: 0.5s;
    --transition-8: 0.8s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    /* display: none; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;
    color: var(--white);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
}
img {
    max-width: 100%;
}
.list-inline-item:not(:last-child) {
  margin-right: 40px;
}

// Keyframes
@keyframes opacity {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes filter {
  0% {
      background: rgba(255, 255, 255, 0.145);
  }
  50% {
      background: rgba(1, 19, 7, 0.263);
  }
  100% {
      background: rgba(255, 255, 255, 0.145);
  }
}

@keyframes marquee {
  0% {
      transform: translateX(7vw);
  }
  100% {
      transform: translateX(-7vw);
  }
}

// Vendors
// Swiper
.swiper {
  height: auto;
}
.swiper-scrollbar {
  background: #fff!important;
  border-radius: 0!important;
  height: 1px!important;
  margin-bottom: 15px;
}
.swiper-scrollbar-drag {
  background: #fff!important;
  border-radius: 0!important;
  height: 6px!important;
  cursor: move;
}
.swiper-slide:hover {
  cursor: move;
}

// Global Styles
// 1. Buttons
.arrow-upright {
  display: inline-block;
  vertical-align: middle;
  margin-left: 45px;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: #ccc;
  position: relative;
  border: 1px solid #ccc;

  &::before {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 34px;
    height: 34px;
    position: absolute;
    background: url(../images/arrow-upright-white.svg) center/contain no-repeat;
  }

  &:hover {
    cursor: pointer;
  }

  // Variants
  &--black {
    background-color: #000;
    border: 1px solid #000;
  }

  &--black-outline {
    background-color: transparent;
    border: 1px solid #000000;

    &::before {
      background: url(../images/arrow-upright-black.svg) center/contain no-repeat;
    }
  }

  // Size
  &--sm {
    width: 80px;
    height: 80px
  }
}

// 2. Utilities
.fs-7 {
  font-size: 75px !important;
}

.f-hanson {
  font-family: hanson;
}

.vh-50 {
  height: 50vh;
}

.vh-75 {
  height: 75vh;
}

.phrase-1 {
  font-size: 4em;
  font-weight: bold;
}

.phrase-2 {
  font-size: 1.3em;
}

.text-black {
  color: var(--black-1);
}

.text-yellow {
  color: var(--yellow);
}

.text-uppercase {
  text-transform: uppercase;
}

.stroke {
  -webkit-text-stroke-color: var(--lightcyan);
  -webkit-text-stroke-width: 0.15px;
  color: transparent;
}

.stroke-1 {
  -webkit-text-stroke-width: 1px;
}

.stroke-yellow {
  -webkit-text-stroke-color: var(--yellow);
}

.stroke-white {
  -webkit-text-stroke-color: var(--white);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-gray {
  background-color: var(--gray);
}

// Elements
.paused {
  opacity: 1 !important;
}

.playing {
  animation: opacity var(--transition-5);
}

.wrapper {
  overflow-x: auto;
  display: flex;
  background-color: var(--black-1);
  transition: var(--transition-3);

  &::-webkit-scrollbar {
    display: none;
  }
}

.close {
  display: inline-block;
  color: var(--lightgray);
  display: flex;
  align-items: center;
  width: 2em;
  height: 2em;
  font-size: 40px;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: var(--transition-3);

  background: rgba(255, 255, 255, 0.145);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.2px solid var(--gray);
  z-index: 201;
}

// Off Screen
#cursor-info {
  display: inline-block;
  width: 80px;
  height: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  background: rgba(210, 210, 210, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 0 2px var(--gray);
  position: absolute;
  z-index: 203;
  left: -100px;
  border-radius: 150px;
}

// Main Header
header {
  transition: var(--transition-3);
  position: fixed;
  z-index: 100;
  padding: 20px 60px;
  width: 100%;
  opacity: 0;
  transform: translate(0, -100%);

  .menu-button {
    cursor: pointer;
    border-radius: 50px;
    padding: 8px 20px;
    border: 2px solid var(--white);
    position: absolute;
    top: 40px;
    right: 60px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    &.active {
      background: rgba(0, 0, 0, 0.145);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      nav {
        padding: 112px 60px 70px;
      }
    }

    span {
      background-color: var(--white);
      display: inline-block;
      height: 2px;
      width: 20px;
      border-radius: 20px;
    }
  }

  nav {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;

    a {
      color: white;
      text-decoration: none;
      font-size: 30px;
      line-height: 30px;
      text-transform: capitalize;

      &:hover {
        cursor: pointer;
      }
    }

    ul li:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}

header nav .close,
.arrow,
.work-video .close,
.work-video .vid-status {
  display: inline-block;
  color: var(--lightgray);
  display: flex;
  align-items: center;
  width: 2em;
  height: 2em;
  font-size: 40px;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: var(--transition-3);
}

// Video BG
.video-bg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;

  video {
    display: inline-block;
    width: inherit;
    transform: scale(1.2);
  }
}

// Sections
section {
  /* min-height: 800px;
  height: calc(100vh - 156px); */
  min-height: calc(100vh - 156px);
  padding: 100px 0!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-half {
  padding: 0px 0 100px;
}

.section-title {
  padding-bottom: 7px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 1px;
    background-color: #fff;
  }

  .subtitle {
    font-size: 50px;
    line-height: 55px;
    font-weight: lighter;
  }
}

.title {
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.content {
  max-width: 1170px;
  display: block;

  &-right {
    margin-left: auto;
  }

  p {
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 40px;
    font-weight: 300;
  }
}

// One By One
.wrap {
  animation: marquee 10s linear infinite;
}
.one-by-one {
  padding: 0!important;
  font-family: hanson;
  height: 100vh!important;

  p {
    margin-bottom: 0;
  }

  div {
    position: absolute;
    left: -20px;
    top: 60%;
    width: 100vw;
    transform: var(--transition-3);
    text-transform: uppercase;
    font-weight: bold;
    transform: perspective(100px) translate3D(0, -38px, 68px);

    p {
      text-align: center;
    }

    &:first {
      opacity: 1;
    }
  }  

  .words .word {
    font-size: 15px !important;
  }

  .centered:nth-last-child(2) .word:first-child {
    color: var(--yellow);
  }
}

// Locations
.location {
  &__wrapper {
    column-gap: 67px;
  }
  &__title {
    font-size: 60px;
    line-height: 66px;
    font-weight: 300;
  }
  &__description {
    font-size: 18px;
    line-height: 24px;
  }
}

// Work
#feat-work {
  .work {
    transition: var(--transition-5);
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
    width: 600px !important;

    a {
      color: var(--white);
    }

    .feat-title {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-right: 120px;
    }
  }
}

// Work Modal
.work-video {
  position: fixed;
  z-index: 200;
  top: 0;
  left: -110%;
  height: 100vh;
  width: 100%;
  transition: var(--transition-5);

  .close {
    background-color: var(--black-1);
    right: 60px;
    top: 30px;
  }

  .vid-status {
    width: unset;
    border-radius: 10px;
    padding: 10px 20px;
    top: 35vh;
    left: calc(50% - 85px);
    opacity: 0;
    border: 0.2px dotted var(--gray);
    z-index: 202;
    animation: filter 2s infinite ease-in-out;
  }

  video {
    height: auto;
    width: 100vw;
    position: absolute;
  }

  &.active {
    left: 0;
  }

  .feat-footer {
    width: inherit;
    background: rgba(48, 48, 48, 0.73);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    &.active {
      opacity: 1;
      transition: 3s;
    }
  }
}

// Animated Section
.animated-section {
  position: relative;

  .section-title,
  .section-content {
    position: absolute;
    top: 0;
  }
}

// Dashboard
#dashboard {
  position: relative;

  .section-title {
    position: absolute;
    top: 0;
  }

  .row {
    position: absolute;
    top: 100px;
    width: 100%;
  }

  .section-content {
    position: absolute;

    &:first-child {
      width: 40%;
    }

    &:nth-child(2) {
      width: 50%;
      right: 20px;
    }
  }
}

.dashboard-expand {
  $parent: &;

  &__main {
    position: relative;

    img {
      max-width: 80%;
    }
  }

  &__functions {
    position: absolute;
    width: 100%;
    height: calc(100% - 200px);
    top: 0;
    left: 0;
  }

  &__item {
    background-color: #3c3c3c;
    border-radius: 8px;
    width: 290px;
    position: absolute;
    transform-origin: top left;

    #{ $parent }__expand {
      cursor: pointer;
      height: 21px;
      position: relative;
      width: 21px;
      &:before,
      &:after{
        background: #fff;
        content: '';
        height: 2px;
        left: 4px;
        position: absolute;
        top: 9px;
        width: 14px;
        transition: transform 500ms ease;
      }
      &:after {
        transform: rotate(90deg);
        transform-origin: center;
      }
      &:before {
        transform: rotate(180deg);
      }
    }

    #{ $parent }__content {
      display: none;
      padding: 28px 21px;
      color: #b4b4b4;

      h4 {
        font-size: 18px;
        line-height: 20px;
      }

      p:only-child() {
        margin-bottom: 0;
      }
    }

    &.active {
      z-index: 10;
      #{ $parent }__expand {
        &:after {
          transform: rotate(0deg);
        }
        &:before {
          transform: rotate(0deg);
        }
      }
    }

    & + &.active:not(.active) {
      opacity: 0.5!important;
    }

    &:first-child {
      top: 90px;
      left: 100px;
    }
    &:nth-child(2) {
      right: 90px;
      top: 50px;
    }
    &:nth-child(3) {
      right: 50px;
      top: 90%;
      transform: translateY(-50%);
    }
    &:nth-child(4) {
      right: calc(50% - 200px);
      transform: translateY(-50%);
      top: 140%;
    }
    &:nth-child(5) {
      top: 0;
      left: calc(50% - 50px);
      transform: translateX(-50%);
    }
    &:nth-child(6) {
      top: 100%;
      transform: translateY(-50%);
      left: 60px;
    }
  }

  &__header {
    padding: 14px 18px;
  }

  &__title {
    color: #fff;
    font-size: 21px;
    line-height: 24px;
  }

  &__item.active .dashboard-expand__content {
    display: block;
  }
}

// Case Studies
#case-study {
  .mySwiper {
    height: 540px!important;
    top: 150px!important;
  }
}

.case-studies {
  $parent: &;

  gap: 30px;
  position: relative;
  // max-height: 680px;

  &__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: #d9d9d9;
    padding: 53px 45px;
    border-radius: 30px;
  }
  
  &__front {
    position: relative;
    height: 100%;
  }

  &__back {
    transform: rotateY(180deg)
  }

  &__card {
    position: relative;
    // transition: transform 0.8s;
    // transform-style: preserve-3d;
    width: calc((100vw / 3) - 60px);
    // position: absolute;
    height: 540px;
    // transform: translateX(-50%);
    z-index: 1;

    &:nth-child(2) {
      // left: 50%;
      z-index: 0;

      #{ $parent }__face {
        background-color: #434343;
      }
    }

    &:nth-child(3) {
      // left: calc(50% + 20px);
      z-index: -1;

      #{ $parent }__face {
        background-color: #8D8D8D;
      }
    }

    &:nth-child(4) {
      // left: calc(50% + 40px);
      z-index: -2;

      #{ $parent }__face {
        background-color: #ADADAD;
      }
    }
  }

  &__header {
    color: #000;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  &__category {
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
  }

  &__read {
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 24px;
    color: #000;

    &::after {
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-left:8px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #8d8d8d;
    }
  }
}

// People
#feat-people {
  img {
    width: 340px;
    height: 450px;
    object-fit: cover;
  }

  .team-designation {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 22px;
    font-weight: 400;
  }

  .swiper-wrapper {
    .col {
      min-width: 340px;
      margin: 0 30px;
    }
  }

  .showTeam {
    &:hover {
      cursor: pointer;
    }
  }
}

#people-info {
  padding: 100px 0;
  padding-top: 200px!important;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  // overflow-y: scroll;
  display: none;
  z-index: 99;
  // background: rgba(0, 0, 0, 0.145) url(../images/gradient.jpg) center/cover no-repeat;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .info {
    display: none;

    &.active {
      display: block;
    }
  }

  .close {
    z-index: 99999;
    position: absolute;
    right: 20px;
    top: 200px;
    font-family: 'hanson';
  }
}

// Partners & Alliance
.partners {
  ul {
    margin-top: 72px;
    margin-bottom: 112px;

    li {
      font-size: 36px;
      line-height: 43px;
      opacity: 0.5;
      color: #fff;

      &.active,
      &:hover {
          opacity: 1;
          color: #fff;
      }
    }
  }
}

.partner {
  margin-top: 5%;
  max-width: 1020px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 35px;
  row-gap: 60px;

  img {
    max-width: 250px;
    opacity: 1;
  }
}

.partner img,
.alliance img {
  filter: grayscale(1);
}

.partner-reveal,
.alliance-reveal {
    position: relative;
}

a {
    color: var(--white);
}

.alliance {
  margin-top: 5%;
  max-width: 1770px;
  column-gap: 30px;
  row-gap: 40px;

  img {
    max-width: 270px;
    opacity: 1;
  }

  &-reveal {
    .reveal-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 1;
      transform-origin: top center;
    }
  }
}


// Footer
footer {
  padding-bottom: 70px; 

  .footer-bottom {
    border-top: 1px solid #E5E3E3;
    margin-top: 65px;
    padding-top: 80px;
  }

  &.social {
    border-top: 1px solid #fff;
    padding-top: 30px;

    h6 {
      font-size: 20px;
      line-height: 22px;
      font-weight: 300;
    }

    a {
      color: #fff;
      font-size: 32px;
    }
  }
}

// Inner Page
body.inner-page {
  min-height: 100vh;

  section {
    padding-top: 200px!important;
    min-height: 100vh;
  }

  header {
    opacity: 1;
    transform: translate(0, 0);
  }

  .main-content {
    padding-top: 156px;

    .content {
      min-height: 400px;
    }

    h3 {
      font-weight: 300;
      font-size: 24px;
      line-height: 38px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
    }

    .button-primary {
      background-color: #fff;
      padding: 8px;
      border-radius: 8px;
      font-size: 20px;
      line-height: 24px;
      color: #000;
      text-decoration: none;
    }

    .button-link {
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      text-decoration: none;
      background: transparent;
      border: none;

      .fa {
        margin-right: 15px;
      }
    }
  }
}

.img-reveal {
  overflow: hidden;

  .reveal-inner,
  .reveal-bl {
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0%, 100% 0%, 0% 0%, 0% 0%);
  }
  .reveal-inner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .reveal-bl {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform;
    }
  }

}

// Media Queries
@media screen and (max-height:800px) {
  .fs-7 {
    font-size: 55px !important;
  }
  .content p {
    font-size: 28px;
    line-height: 30px;
  }
  section {
    max-height: none!important;
    height: 100%!important;
    min-height: 600px!important;
    padding: 50px 0!important;
  }
  .case-studies {
    height: 400px!important;
    display: block;
  }
  #dashboard {
    height: 600px!important;
  }
}
.row {
  .section-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}